@using WebSchool.Service.Interface;
@using System.Threading;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;

@inject ITahunAjarService TahunAjaranService;
@inject IKelasService KelasService;
@inject IPelajaranService PelajaranService;

@{
    CancellationToken cancellationToken = new CancellationToken();
    var DataTahunAjaran = await TahunAjaranService.ListTahunAjaran(0, cancellationToken);
    var DataKelas = await KelasService.ListKelas(0, cancellationToken);
    var DataPelajaran = await PelajaranService.ListPelajaran(0, cancellationToken);
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Data Absen Siswa</h5>
                    <br />
                    <form class="row g-3">
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Tahun Ajaran :</label>
                            <select class="form-select" id="TahunAjaran2" aria-label="TahunAjaran2" style="font-size:14px;" required>
                                <option selected></option>
                                @if (DataTahunAjaran.Data.Any())
                                {
                                    foreach (var data in DataTahunAjaran.Data)
                                    {
                                        <option value="@data.Id">@data.TahunAjaran</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Nama Kelas :</label>
                            <select class="form-select" id="NamaKelas2" aria-label="NamaKelas2" style="font-size:14px;" required>
                                <option selected></option>
                                @if (DataKelas.Data.Any())
                                {
                                    foreach (var data in DataKelas.Data)
                                    {
                                        <option value="@data.Id">@data.NamaKelas</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Tanggal Absen :</label>
                            <input type="date" id="TanggalAbsen2" class="form-control" style="font-size:14px;">
                        </div>
                    </form>
                    <br />
                    <button type="button" class="btn btn-warning" onclick="GetDataAbsenSiswa();">Cari</button>
                    <br />
                    <br />
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="tabelAbsenSiswa">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size:14px;">Nama Siswa</th>
                                <th scope="col" style="font-size:14px;">Tahun Ajaran</th>
                                <th scope="col" style="font-size:14px;">Nama Kelas</th>
                                <th scope="col" style="font-size:14px;">Absen</th>
                                <th scope="col" style="font-size:14px;">Tanggal Absen</th>
                                <th scope="col" style="font-size:14px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="EditAbsenSiswa" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Absen Siswa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
                    <input type="text" id="Id" class="form-control" hidden>
                    <input type="text" id="IdSiswa" class="form-control" hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Siswa</label>
                        <div class="col-sm-10">
                            <input type="text" id="NamaSiswa" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <input type="text" id="IdTahunAjaran" class="form-control" hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tahun Ajaran</label>
                        <div class="col-sm-10">
                            <input type="text" id="TahunAjaran" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <input type="text" id="IdKelas" class="form-control" hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Kelas</label>
                        <div class="col-sm-10">
                            <input type="text" id="NamaKelas" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tanggal Absen</label>
                        <div class="col-sm-10">
                            <input type="text" id="TanggalAbsen" class="form-control" style="font-size:14px;"  readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Absen</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="Absen" aria-label="Absen" style="font-size:14px;">
                                <option selected></option>
                                <option value="Masuk">Masuk</option>
                                <option value="Alpha">Alpha</option>
                                <option value="Izin">Izin</option>
                                <option value="Sakit">Sakit</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="font-size:14px;" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" style="font-size:14px;" onclick="SaveDataAbsenSiswa();">Simpan</button>
            </div>
            </form><!-- End General Form Elements -->
        </div>
    </div>
</div><!-- End Basic Modal-->

<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/jquery-ui.min.css" rel="stylesheet">

<style>
    .table.dataTable {
        font-size: 14px;
    }
</style>

<script src="~/js/jquery-3.5.1.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap4.min.js"></script>

<script src="~/js/swallfire/sweetalert2.min.js"></script>
<script src="~/js/swallfire/sweetalert2.all.min.js"></script>
<script src="~/js/apps/absen_siswa/absen_siswa.js"></script>

<script>

    $(document).ready(function (){
        $("#tabelAbsenSiswa").DataTable({
            destroy: true,
            paging: true,
            searching: true
        });
    });

    GetDataAbsenGuru();

    function pingURL() {
         var settings = {
            cache: false,
            //dataType: "jsonp", 
            dataType: "application/json", 
            crossDomain: true,
            url: "Ping/GetPing",
            method: "GET",
            timeout: 5000,
            headers: {accept: "application/json", "Access-Control-Allow-Origin": "*",},

            statusCode: {
               200: function (response) {
                 
               },
               400: function (response) {
                  
               },
               0: function (response) {
                  
               },
            },
         };
         // Sends the request and observes the response
         $.ajax(settings).done(function (response) {
            console.log("Success -----> " + response);
         })
         .fail(function (response) {
            console.log("Error -----> " + response);
            alert("Not Connected Server, Check internet Or Server...!");
         });
      }
</script>